.RESET{
    padding: 0%;
    margin: auto;

}

.banner{
    object-fit: contain;
    width: 100vh;
    height: auto;
}

.banner_img{
    width: 100vh;
    height: auto;
}


.ReadOn {
    margin: auto;
    width: 90vh;
    height: 12vh;
    background-color: aquamarine;
    border-radius: 30px;
    display: flex;
    align-items: center;      /* Vertical centering */
    justify-content: start;   /* Horizontal alignment */
    gap: 2vh;                 /* Space between image and text */

}

.ReadOnImg {
    width: 9vh;
    height: 9vh;
    border-radius: 100%;
    object-fit: cover;        /* Ensures image doesn't stretch */
    margin-left: 30%;
}

.ReadOnText {
    font-size: 5vh;
    font-weight: bold;
}
